{% extends 'base.html' %}
{% block title %}
  Dashboard
{% endblock %}
{% block content %}

  <div class="container mx-auto mt-8">
    <h1 class="text-4xl font-semibold">Welcome to the Dashboard</h1>
    <p class="mt-4">Here's the content for the dashboard page.</p>

    <p class="mt-4">Hello, {{ user.username }}! Here's the content for the dashboard page.</p>


    <form method="POST" action="{% url 'logout' %}" class="mt-4">
      {% csrf_token %}
      <button type="submit" class="bg-red-500 text-white px-6 py-2 rounded-md">Logout</button>
    </form>
  </div>
{% endblock %}
